@font-face {
  font-family: 'Comic Sans';
  src:  url('/fonts/ComicSans.woff2') format('woff2'),
        url('/fonts/ComicSans.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #04265c;
  font-family: "Comic Sans", "Comic Sans MS", "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 1.6181;
  margin: 0;
  min-height: 100%;
  min-height: 100vh;
  width: 100%;
  width: 100vw;
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  background-image: url('/images/background.gif');
  background-repeat: repeat;
  background-size: 150px;

}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Comic Sans", "Comic Sans MS", "Courier New", Courier, monospace;
  margin: 0;
}

#root {
  max-width: 800px;
  padding: 5vw;
  margin: 0 auto;
  width: 100%;
}
